{%extends 'base.html'%}
{%block body_block%}
<div class="container-fluid">
   <div class="row">
    <div class="col-4"></div>
    <div class="col-4 badge bg-dark text-wrap"> <h2>Welcome {{request.user}}!!</h2></div>
    <div class="col-4"></div>
   </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {%for product in products%}
        <div class="col mb-5">
            <div class="card h-100 mt-5 border-dark" >
                <!-- Product image-->
                <img class="card-img-top" src="{{product.image.url}}" alt="..." height="200px"/>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.product_name}}</h5>
                        <!-- Product price-->
                        ${{product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-dark">
                    <div class="text-center"><a class="btn btn-outline-light mt-2" href="{%url 'product-detail' product.id%}">View</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}